body {
    margin: 64px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(104, 158, 104);
    border-radius: 16px;
    padding: 16px;
}

.container-tab-content {
    background-color: rgb(104, 158, 104);
    border-radius: 8px;
    margin-top: -10px;
    padding: 24px;
}

.wrapper-tab, .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 16px;
    height: 54px;
    background-color: transparent;
}

button:hover {
    background-color: rgb(104, 158, 104);
    border-radius: 8px;
    color: antiquewhite;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    padding: 8px;
    color: antiquewhite;
    text-align: center;
}

.tab.active {
    background-color: rgb(104, 158, 104);
    border-radius: 8px;
    color: antiquewhite;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 630px){
    .wrapper-tab, .tab {
        font-size: 12px;
        gap: 6px;
    }

    .tab-content {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    .wrapper-tab, .tab {
        gap: 4px;
        font-size: 10px;
    }
}