body {
    font-family: 'Poppins', sans-serif;
    margin: 32px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.accordion button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 4px;
    border: none;
    border-radius: 8px;
    background-color: rgb(24, 25, 26);
    color: #f5f3f3;
    font-weight: 600;
}

.accordion button:hover {
    background-color: #f2f2f2;
    color: #121212;
    cursor: pointer;
}

.accordion-content {
    display: none;
}

.accordion.active .accordion-content {
    display: block;
    padding: 12px;
    border: 2px solid rgb(24, 25, 26);
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

.fa-chevron-down {
    transition: transform 0.3s ease;
}

.accordion.active .fa-chevron-down {
    transform: rotate(180deg);
}