.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-color: #E5E5F7;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #E5E5F7 20%, #E5E5F7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #E5E5F7 20%, #E5E5F7 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#444CF7 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #444CF7 1.6px, #E5E5F7 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
  mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.app-content {
  position: relative;
  z-index: 1;
}

.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
}

.start-screen h1 {
  margin: 0;
  font-size: 48px;
  color: #1d205a;
}

.start-screen p {
  letter-spacing: 1.4px;
}

.main-btn {
  width: 200px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: 2px solid #030422;
  background-color: #1d205a;
  background: linear-gradient(90deg, #030422 , #1d205a);
  color: #ffffff;
  letter-spacing: 2px;
}

.main-btn:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.quiz-card {
  margin: 36px;
  padding: 0 32px;
  width: 600px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-card-header {
  display: flex;
  justify-content: space-between;
}

#timer {
  background-color: #f2f2f2;
  padding: 6px 16px;
  border-radius: 6px;
  text-align: center;
  box-shadow: inset 1px 1px 2px 0 #12121233;
}

#q-indic {
  background-color: aliceblue;
  border: 1px solid #444CF733;
  padding: 6px 16px;
  border-radius: 6px;
  text-align: center;
  color: #1d205a;
}

.wrapper-progress {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -32px;
  background-color: white;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  z-index: 999;
}

.wrapper-progress p {
  font-size: 14px;
  font-weight: 600;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(45deg, #1d205a, aliceblue);
  transition: width 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progress-bar p {
  color: aliceblue;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.answers button {
  padding: 6px 0;
  border: 1px solid #1d205a;
  border-radius: 8px;
}

.correct {
  background-color: rgb(154, 224, 154);
}

.incorrect {
  background-color: rgb(224, 154, 154);
}

.correct-answer {
  margin: 0 0;
  width: 100%;
  text-align: left;
}

.navigation {
  margin: 32px 0;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigation button {
  min-width: 90px;
  height: 32px;
  border-radius: 8px;
  border-style: none;
  color: #1d205a;
  background-color: #f2f2f2;
  border: 1px solid #1d205a;
}

.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.result-screen h1 {
  margin: 0;
}

#score-container {
  background-color: #f2f2f2;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: inset 1px 1px 2px 0 #12121233;
}

#back-btn {
  border-style: none;
  background: none;
  text-decoration: underline;
  color: #1d205a;
  padding: 16px 0;
}

#back-btn:hover {
  font-weight: 600;
  cursor: pointer;
}