body {
    margin: 0 64px;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #121212;
    padding-right: 16px;
}

nav {
    border-bottom: 2px solid #121212;
    padding-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.form-field {
    display: flex;
    gap: 8px;
    width: 360px;
    justify-content: space-between;
}

#fullname, #email, #message {
    width: 70%;
}

#subject {
    width: 72%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: -16px;
}
#newslatter {
    margin-left: 0px;
}

footer {
    margin-top: 12px;
    border-top: 2px solid #121212;
}

button {
    width: 124px;
}