.weather-app {
  margin-top: 32px;
  padding: 16px;
  background-color: white;

  border-radius: 16px;
}

.weather-app h1 {
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: aquamarine;
  width: 600px;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 32px;
}

.search-bar {
  display: flex;
  gap: 6px;
}

.search-bar input {
  border-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 8px 12px;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 8px 12px;
}