body {
    font-family: 'Arial';
}

h1 {
    color: #261564;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 400px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 32px;
    border: 1px solid blue;
}

#age-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-bar {
    border: 1px solid rgb(248, 161, 241);
    padding: 8px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.fa-calendar-days {
    color: #261564;
}

input {
    outline: none;
    border: none;
    cursor: pointer;
}

.form-bar input:focus {
    outline: none;
    border: none;
}

button {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #261564;
    color: rgb(248, 161, 241);
    cursor: pointer;
}

button:hover {
    background-color: rgb(248, 161, 241);
    color: #261564;
}

#result {
    margin-top: 32px;
    font-weight: 600;
    color: #261564;
    background-color: white;

}