body {
    margin: 32px;
    width: 90%;
}

nav a {
    text-decoration: none;
    color: #121212;
    padding-right: 16px;
}

nav {
    border-bottom: 2px solid #121212;
    padding-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.form-field {
    display: flex;
    gap: 8px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: -16px;
}